*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #FAFDFF;
    --text-white: #FFF;
    --text-black: #121212;
    --text-blue: #00A3FF;
    --heading-gradient: linear-gradient(0deg, #00A3FF, #00A3FF), linear-gradient(91.53deg, #00A3FF -3.8%, #39FF14 128.02%);    
    --text-gradient: linear-gradient(180deg, #39FF14 0%, #00A3FF 100%);
    --border-gradient: linear-gradient(270deg, #00A3FF 0%, #39FF14 100%);
    --hr-gradient: linear-gradient(91.53deg, #00A3FF -3.8%, #39FF14 128.02%);
    --btn-color: #39FF14;
    --btn-disabled: #39FF1461;
    --border-footer: #FFFFFF0A;
    --icon-hover: linear-gradient(180deg, #39FF14 0%, #00A3FF 100%);
}

/* COMMON CSS  */
.body{
    background-color: var(--text-black);
    color: var(--text-white);
}
.btn{
    padding: 18px 36px;
    border-radius: 6px;
    border: none;
    background-color: var(--btn-color);
    color: var(--text-black);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}
.btn-small{
    padding: 10px 36px;
}
.btn-transparent{
    background-color: transparent;
    color: var(--text-white);
}
.hr-gradient{
    border: 1px solid var(--hr-gradient);
}

/* GLOBAL CLASSES  */
/* NAVBAR  */
.logo{
    height: 36px;
    width: 180px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
}
ul li.nav-link{
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-white);
    min-width: 60px;
}
.nav-link.active{
    color: var(--text-blue);
    font-weight: 600;
}
.nav-link:hover{
    font-weight: 600;
}

/* BANNER  */
.banner{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--text-black);
    color: var(--text-white);
}